{% for building in buildings %}

    <div class="b-dom" id="building{{ building.id }}">
        <a href="{{ asset( building.imageLName ) }}"
                data-lightbox="building{{ building.id }}"
                data-title="{{ building.name }}, {{ building.address }}"
                class="e-img"
                style="background-image:url('{{ asset( building.imageSName ) }}');"
                title="{{ building.name }}, {{ building.address }}"></a>
        <div><span class="e-name">{{ building.name }}</span> <span style="font-size:0.8em;">{{ building.address }}</span></div>
        <div style="font-size:0.8em;">{{ building.complTime }}</div>
        <div style="font-size:0.8em;">Материал: {{ building.material }}; Этажей: {{ building.floors }}</div>
    </div>

    <table class="b-table_std" id="flatTable" style="margin-bottom:1em;">
    <thead>
    <tr>
        <td></td><td>Этажи</td><td>Общая <br>площадь</td><td>Кухня</td><td>Цена</td><td></td><td></td><td></td>
    </tr>
    </thead>
    <tbody>
        {% for flat in building.flatsInGroup %}

            <tr>
                <td><a href="{{ url('flat_form', {'flat_id': flat.id} ) }}" class="e-grey" title="{{ flat.plan.name }} {{ flat.plan.sTotal }}" onclick="get_url_to_modal_windows(this.href); return false;">{{ flat.plan.name }}</a></td>
                <td>{{ flat.floors | sort | join(', ') }}</td>
                <td>{{ flat.plan.sTotal }} м<sup>2</sup></td>
                <td>{% if flat.plan.sKitchen>0 %}{{ flat.plan.sKitchen }} м<sup>2</sup>{% endif %}</td>
                <td>{{ flat.price | price }}</td>
                <td>{% if flat.hot>0 %}<a href="{{ url('flat_form', {'flat_id': flat.id} ) }}" class="b-but" title="Последние квартиры по распродаже!" style="font-weight:normal;" onclick="get_url_to_modal_windows(this.href); return false;">Распродажа!</a>{% endif %}</td>
                <td><a href="{{ asset( flat.plan.imageLName ) }}"
                       class="e-grey"
                       data-lightbox="plan{{ flat.id }}"
                       data-title="{{ flat.plan.name }} {{ flat.plan.sTotal }} м" >Планировка</a></td>
                <td><a href="{{ url('flat_form', {'flat_id': flat.id} ) }}" class="b-but e-but_grey" onclick="get_url_to_modal_windows(this.href); return false;"onclick="get_url_to_modal_windows(this.href); return false;" >Забронировать!</a></td>

            </tr>
        {% else %}
            <tr  class="e-hrow"><td colspan=10 >Квартир в продаже в данный момент нет</td></tr>
        {% endfor %}
    </tbody>
    </table>
{% endfor %}

