{% for flat in flats %}
{% if loop.first %}{% for key,td in flat %}{{ key }},{% endfor %}

{% endif %}
{% for key, td in flat %}"{% if key == 'etagy' %}{{ td | sort | join(', ') }}{% else %}{{ td }}{% endif %}",{% endfor %}

{% endfor %}
