{% extends 'base.html.twig' %}

{% block h1 %}<h1>Спасибо</h1>{% endblock %}

{% block main %}
    <p>Ваша заявка отправлена. Наш специалист свяжется с Вами в ближайшее рабочее время.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}