{% extends app.request.isXmlHttpRequest ? 'ajax.base.html.twig' : 'base.html.twig' %}

{% block h1 %}
    <h1>Запись на экскурсию</h1>
{% endblock %}

{% block main %}
    <p style="font-size:0.8em;">Если Вы хотите увидеть жилые комплексы своими глазами - запишитесь на экскурсию!</p>

    {{ include('order/_form.html.twig') }}

{% endblock %}


