{% extends app.request.isXmlHttpRequest ? 'ajax.base.html.twig' : 'base.html.twig' %}

{% block h1 %}
    <h1>Забронировать квартиру</h1>
{% endblock %}

{% block main %}
    <p style="font-size:0.8em;">Внимание! После подтверждения заявки бронь сохраняется только в течении 5 дней!</p>

    {{ include('order/_form.html.twig') }}

{% endblock %}


