{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        jQuery(function($) {
            tinymce.init({
                mode : "textareas",
                editor_selector : "mceAdvanced",
                height: '400',
                convert_urls : false,
                relative_urls : false,
                content_css : '/css/main.css',
                cache_suffix: '?v=0.1.0',
                language : 'ru',
                plugins: 'code, media, link, table, image, imagetools',

            });

            tinyMCE.init({
                mode : "textareas",
                editor_selector : "mceAdvanced",
                convert_urls : false,
                relative_urls : false,
                content_css : '/css/main.css',
                cache_suffix: '?v=0.1.0',
                language : 'ru',
            });
        });
        /*]]>*/
    </script>
{% endblock %}