{%  if districts|length >0 %}
    <h2>Жилые комплексы в Новосибирске</h2>
    <div class="b-districts" id="districts">
        {% for district in districts %}
            <a class="e-item" href="{{ url('section' ~ district.id) }}" >
                    <span class="e-img" style="background-image:url('{{ asset( district.imageMName ) }}');"></span>
                    <span class="e-name">{{ district.name }}</span>
                    <span class="e-subname">{{ district.announce }}</span>
            </a>
        {% endfor %}
    </div>
{% endif %}