{% extends 'default/page.html.twig' %}

{% block meta_og_image %}
    {{ absolute_url( asset( Page.imageOrigName ) ) }}
{% endblock %}

{% block h1 %}
    <h1>{{ Page.name }}</h1>
    <p style="font-size:0.9em; margin:0 0 1em 0; padding:0;">{{ Page.announce}}</p>
{% endblock %}

{% block main %}

    <div class="b-promo"><img src="{{ asset( Page.imageOrigName ) }}" alt=""></div>

    <p>{{ Page.description|raw }}</p>

    <div class="clear"></div>

    {{ include('photo/_index.html.twig', { 'photos': Page.photos, 'title':'Фото ' ~ Page.name }) }}

    <h2 id="flats">Планировки и цены</h2>
    <p style="font-size:0.9em;">Вы можете забронировать квартиры прямо у нас на сайте. После подтверждения заявки бронь сохраняется в течении 5 дней.</p>

    {{ include('flat/_list.html.twig', { 'buildings': Page.buildings }) }}

    <div class="clear">&nbsp;</div>

    {% if ipotekaPage %}

        <h2 id="{{ ipotekaPage.url }}">{{ ipotekaPage.name }}</h2>

        <p>{{ ipotekaPage.description|raw }}</p>

        <div class="clear"></div>

        {{ include('order/_form.html.twig', { 'form': ipotekaForm }) }}

    {% endif %}

    <div class="clear"></div>

    <h3>{{ Page.name }} — на карте Новосибирска</h3>

{% endblock %}

{% block districts %}{% endblock %}

{%  block map %}

    <script src="http://maps.api.2gis.ru/2.0/loader.js"></script>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <script>
        DG.then(function() {
            var map = DG.map('map', {
                center: [{{ Page.mapCoords }}],
                zoom: 15
            });

            myIcon = DG.icon({
                iconUrl: 'http://isk-soyuz-nsk.ru/wp-content/uploads/2016/07/marker.png',
                iconSize: [40, 56]
            });
            myIconLogo = DG.icon({
                iconUrl: 'http://isk-soyuz-nsk.ru/wp-content/uploads/2016/07/logo_small2_no_bord.png',
                iconSize: [46, 45]
            });

            {% for district in districtService.getList() %}
                DG.marker([{{ district.mapCoords }}], {icon: myIcon}).addTo(map).bindPopup('{{ district.name }} - {{ district.announce }}');
            {% endfor %}
            //DG.marker([54.93875143122506,82.96236918431606], {icon: myIcon}).addTo(map).bindPopup('Жилой комплекс "Акварельный"<br>Николая Сотникова, 2, 4, 6');
            //DG.marker([54.987196,82.815837], {icon: myIcon}).addTo(map).bindPopup('Жилой дом "Олимпийский"<br>Колхидская, 6 стр.');
            //DG.marker([55.040919,82.930228], {icon: myIconLogo}).addTo(map).bindPopup('Отдел продаж ГК "СОЮЗ"<br>Крылова 36, офис 91<br>+7 (383) 383-20-23');
            //DG.marker([55.003847,82.641306], {icon: myIconLogo}).addTo(map).bindPopup('Комбинат по производству ЖБИ, входит в ГК "СОЮЗ"');
            DG.control.location({position: 'bottomright'}).addTo(map);
            DG.control.scale().addTo(map);
            DG.control.ruler({position: 'bottomleft'}).addTo(map);
            DG.control.traffic().addTo(map);

        });
    </script>
{% endblock %}

