<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="ru" />
        <title>{% spaceless %}{% block title %}Группа компаний "СОЮЗ" в Новосибирске - официальный сайт застройщика.{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="{% spaceless %}{% block meta_desc %}{% endblock %}{% endspaceless %}">
        <meta property="og:description" content="{% spaceless %}{% block meta_og_desc %}{% endblock %}{% endspaceless %}" />
        <meta name="keywords" content="{% spaceless %}{% block meta_key %}{% endblock %}{% endspaceless %}">
        <meta name="og:title" content="{% spaceless %}{% block meta_og_title %}Группа компаний "СОЮЗ" в Новосибирске - официальный сайт застройщика.{% endblock %}{% endspaceless %}" />
        <meta name="og:type" content="website" />
        <meta name="og:image" content="{% spaceless %}{% block meta_og_image %}{% endblock %}{% endspaceless %}" />
        <link href="{{ asset('js/lightbox2-master/css/lightbox.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        <link rel='stylesheet' id='boldial-google-font-1-css'  href='//fonts.googleapis.com/css?family=Roboto%3A400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C100%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C100%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C100%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C&#038;ver=4.7.2' type='text/css' media='all' />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/lightbox2-master/js/lightbox.js') }}"></script>
        <script src="{{ asset('js/index.js') }}"></script>
    </head>
    <body>
        <table class="b-shell">
        <tr>
            <td class="b-head">
                <div class="b-shell_head">

                    <a href="{{ url('default') }}" class="b-logo" title="На главную"></a>

                    <div class="b-tel">
                        <div class="e-number" id="phoneNumber">+7 (383) 255-02-23</div>
                        <div class="e-hours">пн-вс 9:00-21:00</div>
                        <a href="{{ url('callme_form') }}" class="b-but" onclick="get_url_to_modal_windows(this.href); return false;">Заказать звонок</a>
                    </div>

                    <div class="b-bus"><a href="{{ url('excursion_form') }}" onclick="get_url_to_modal_windows(this.href); return false;">Экскурсии</a><br><span>по новостройкам</span></div>

                    <div class="b-menu">
                        {{ knp_menu_render(
                            knp_menu_get('AppBundle:Builder:mainMenu', [], {'advancedItems':  advancedMenuItems is defined ? advancedMenuItems : []})
                        ) }}
                    </div>

                    <div class="clear"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="b-main">
                <div class="b-content">
                    {% block h1 %}{% endblock %}
                    {% block main %}{% endblock %}
                    {% block districts %}
                        <div id="flats"></div><div id="ipoteka"></div>
                        {{ include('districts/_list.html.twig', { 'districts' : districtService.getList() } ) }}
                    {% endblock %}
                </div>
                <div class="b-map>">{% block map %}{% endblock %}</div>
            </td>
        </tr>
        <tr>
            <td class="b-footer">

                <div class="b-backToTop" title="на верх"></div>

                <table style="width:100%;">
                    <tbody><tr>
                        <td style="width:15%;">
                            <a class="e-menu" href="/">Главная</a>
                            <a class="e-menu" href="/privacy">Соглашение об обработке персональных данных</a>

                            {{ include('security/_logout.html.twig') }}

                        </td>
                        <td style=" padding:0 5%;">

                            <p>Сайт носит исключительно информационный характер и никакая информация, опубликованная на нём, ни при каких условиях не является публичной офертой. Для получения подробной информации о реализуемых товарах, работах и услугах и их цене необходимо обращаться по указанному в контактах телефону или оставить заявку на сайте.</p>


                        </td>

                        <td style="width:30%;">
                            <p>© 2016 <span class="b-etagi" title="Этажи"></span> &nbsp; Все Права Защищены</p>
                            <p>Официальный партнер застройщика</p>
                            <p>Ядринцевская, 53/1, телефон: +7 (383) 255-02-23</p>
                            <p>E-mail: <a href="mailto:{{ mailTo }}">{{ mailTo }}</a>, Создание сайта: <a href="http://vk.com/public85884884" target="sib promo">Sib Promo</a></p>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        </table>


        {{ include('_counter.html.twig') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
