{% extends 'default/page.html.twig' %}


{% block main %}

    <div class="b-promoVideo">
        <video width="100%" height="480" autoplay="autoplay" loop="loop"  muted>
            <source src="{{ asset('/images/video/promo.mp4') }}" type='video/mp4' autoplay>
        </video>
    </div>

    <p>{{ Page.description|raw }}</p>

{% endblock %}
