HTML { 	height: 100%; }

BODY {
	margin: 0;
	font-family: Roboto;
	font-size:1em;
	color: #494c43;
	background-color:#FFF;
	font-weight: normal;
	height: 100%;
}

body.mceContentBody { background: #fff; }

FORM { margin: 0; 	padding: 0; }

TABLE {
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
}

TD,TH {
	padding: 0;
}

IMG { border: 0; }

a { color:#0058a1; }
a:hover { color:#ff371d; }

a.e-grey { color:#666; }
a.e-grey:hover { color:#f3733b; }

H1,H2,H3 { color:#0058a1; font-weight:normal; font-style:normal !important; text-transform:uppercase; }
H1 { font-size:1.8em; margin:0 0 10px 0; padding:0; }
H2 { font-size:1.5em; margin:1em 0;  }
H3 { font-size:1.2em;  }

H1 .e-small, H2 .e-small, H3 .e-small {
	font-size:0.7em;
	color: #000;
	text-transform: none;
}

p, .b-ico_left, ul li { margin:3px 0 17px 0; padding:0; line-height:1.4; }

ul { padding-left:25px; }

.clear { clear:both; float:none !important; }

#jquery-overlay, #jquery-lightbox { z-index:999 !important; }


.b-but { background-color: #1268b3;  display:inline-block; color:#FFF; font-weight:bold; padding:0.2em 1.2em 0.3em; border:none; cursor:pointer; text-decoration:none; }
.b-but:hover { background-color: #004f9a; color:#FFF; }

.e-but_grey { background:#666; font-weight:normal; }

.errorMessage { color:red; }

.b-modal_shell { position:absolute; max-width:30em; background-color:#f7f8f3; padding:1em; }

table.b-shell { width:100%; height:100%; }
table.b-shell td.b-head { vertical-align:top; padding:0;  height:7em; }
table.b-shell td.b-main { vertical-align:top; padding:0; }
table.b-shell td.b-footer { height:8em; padding:1em; vertical-align:top; background:#374140; color:#FFF; font-size:0.7em; }

table.b-shell td.b-footer table { width:1000px; margin:0 auto; font-family:Arial;  }
table.b-shell td.b-footer table td { vertical-align:top; }
table.b-shell td.b-footer table td p { margin:0 0 10px 0; }
.b-footer a { color:#FFF;}
.b-footer .e-menu { display:block; margin-bottom:10px; }



.b-shell_head { max-width:1200px; margin:0 auto; padding:0 1em 0 1em;  }

.b-logo { width:6.5em; height:6.5em;  display:block; background:url('/images/logo.png') center center no-repeat; background-size:auto 90%; float:left; }
.b-logoEtagi {
	/*
	display:block;
	float:left;
	width:6em;
	height:7em;
	display:block;
	 background:url('/images/etagyM.png') center 80% no-repeat;
	background-size:contain;
	opacity:0.3;
	*/
}

.b-head .b-tel { float:right; text-align:center; padding-top:0.7em; }
.b-head .b-tel .e-number { font-size:1.375em; color: #ff371d; font-weight:bold; }
.b-head .b-tel .e-hours { color:#666; font-size:0.8em; margin:0.2em 0 0.7em 0; }
.b-head .b-tel .b-but { margin:0 auto; }

.b-head .b-bus {
	float:right;
	padding:3em 0 0 0;
	margin:0.5em 1em 0 0;
	background: url('/images/bus.png') top center no-repeat;
	background-size: 5em auto;
	text-align:center;
	font-size:1em;
}

.b-head .b-bus span { font-size:0.7em; }

.b-menu { float:right;  margin:2.5em 1em 0 0; }
.b-menu ul { display:block; padding:0; margin:0; }
.b-menu ul li { display:block; float:left; margin:0 1px; padding:0.3em 0.7em; text-transform:uppercase; }
.b-menu ul li a { text-decoration: none; color: #494c43; }
.b-menu ul li:hover { background-color: #ff371d; }
.b-menu ul li:hover a { color:#FFF; }

.b-menu .e-partner { width:4em; height:0.5em; margin-top:0.3em; float:right; background:url('/images/etagy.png') center center no-repeat; background-size:contain; }

.b-menu .e-menu { margin-right:5%; }

.b-dom { padding:0.5em 0; }
.b-dom .e-img { display:block; float:left; width:10em; height:7em; margin-right:1em;  background-position:top center; background-repeat: no-repeat; background-size:contain; }
.b-dom .e-name {  font-weight:bold; color:#6a85c2;}
.b-dom div { margin-bottom:0.4em; }
.b-dom:after {
	content:'';
	display: block;
	clear: both;
}

.b-plan { max-width:1200px; height:30em; position:relative; margin:0 auto; background:url('/images/plan.png') bottom left no-repeat;   }

.b-plan .e-plan_point { position:absolute; left:0; width:1em; }

.b-plan .e-row { position:absolute;  border-radius:1em; padding:0.3em 1em; font-size:0.8em; text-align:center; background-color:rgba(255,255,255,0.9);  }
.b-plan .e-row .e-tit { font-size:1.2em; display:block; margin-bottom:0.2em; font-weight:bold; min-width:5em; white-space: nowrap; }
.b-plan .e-row .b-but { display:block; margin-top:0.2em; }
.b-plan .e-row .e-price { white-space: nowrap; }

.b-plan .e-video { display:block; position:absolute; background:url('/images/cam.png') center 0.5em no-repeat rgba(255,255,255,0.9); background-size:4.8em; padding:5em 1em 1em 1em; border-radius:1em; font-size:0.8em;
	top: 13em;
	left: 17em;
	text-align:center;
}

.b-promo {
	max-width:1200px;
	margin:0 auto;
	display:block;
	/*
	height:22em;
	background:url('/images/promo1.jpg') center center no-repeat;
	background-size:100% auto;
	*/
}

.b-promo img {
	display:block;
	width:100%;
}

.b-promoVideo {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-top:50%;
	overflow: hidden;

}

.b-promoVideo video {
	position: absolute;
	width: 100%;
	height: 118.594%;
	top: -9.29688%;
}

.b-content { max-width:1200px; margin:0 auto; padding:1em 2em 1em 2em; }

.b-tesis {
	position:relative;
	padding:0 3% 1em 1.6em;
	width:43%;
	float:left;
}

.b-tesis:nth-child(2n+1) { clear:both; }

.b-tesis:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1em;
	height: 1em;
	background: #4292ec;
	border-radius: 0.5em;
}

.b-tesis:after {
	content: '';
	position: absolute;
	left: 0.18em;
	top: 0.17em;
	width: 0.7em;
	height: 0.7em;
	background: #ffffff;
	border-radius: 0.35em;
}

.b-districts { }

.b-districts .e-item {
	float:left;
	width:31%;
	margin-left:2%;
	text-decoration:none;
	color:inherit;
	padding-bottom:2em;
}

.b-districts .e-item .e-img {
	display:block;
	box-shadow: 0px 15px 29px -19px #000000;
	margin-bottom:1em;
	min-height:12em;
	background-repeat: no-repeat;
	background-position: center center;

}

.b-districts .e-item:nth-child(4n-3) { margin-left:0; }
.b-districts .e-item:nth-child(4n+1) { clear:both; }
.b-districts .e-item:hover { color:#ff371d; }
.b-districts .e-item .e-name { display:block; text-transform:uppercase; font-weight:bold; margin-bottom:0.5em; }
.b-districts .e-item .e-subname { font-size:0.8em; color: #7e8790; }



.b-backToTop {
  display: none;
  right: 5px;
  bottom: 5%;
  width: 3em;
  height: 3em;
  background: rgba(255,255,255,0.95);
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  background-color:#374140;
}
.b-backToTop:before {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    top:10%;
    left:10%;
    background:url('/images/ico_arrow_up.png') center center no-repeat;
    background-size:contain;
}

.b-sb { display:block; float:left; margin-right:5px; width:20px; height:20px; background:url('/images/sb.png') left center no-repeat; }

.b-warning {
	border:1px solid #adadad; 
	background-color:#dadada; 
	padding:10px; 
	margin-bottom:20px;	
}

.b-warning h3 { text-align:center; }
.b-warning p {}


img.std {
	max-width:100%;
}

table.std { width:100%; background-color:#f3f3f3; border-top:1px solid #323232; border-left:1px solid #323232;  }
table.std td, table.std th { padding:5px; border-right:1px solid #323232; border-bottom:1px solid #323232; }

table.b-table_padding td, table.b-table_padding th { padding:10px; }


.b-table_std { width:100%; border-bottom:1px solid #999999;  border-top:1px solid #999999; }
.b-table_std td { padding:0.3em 0.7em; text-align:center; }
.b-table_std thead tr {  border-bottom:1px solid #999999; }
.b-table_std thead td { padding:0.7em; font-size:0.75em;  }
.b-table_std tbody tr { border-top:1px solid #cccccc; }
.b-table_std tbody tr:nth-child(1)  { border-top:1px solid #999999; }
.b-table_std tbody td { font-size:0.75em; }
.b-table_std tbody tr.e-hrow td { font-weight:bold; color:#666; padding:0.8em; }



.b-ico_left { padding-left:3.5em; min-height:3em; background:url('/images/icons/eko.png') left top no-repeat; background-size:2.5em auto; }

.b-red { color:#cc112f; }
.b-green { color:#91b33a; }

.b-form {  }
.b-form div > div { padding-bottom:1em; }
.b-form div > div > label {

}

.b-form div > div > input, .b-form div > div > textarea, .b-form div > div > select { width:100%; max-width:30em; padding:0.7em;  background-color:#FFF; border:1px solid #c6c6c6;}

.b-form div > div > textarea {
	display:block; min-height:8em;
}

.b-form .e-select_small {
	max-width:4.5em;
	margin-left:1em;
}

.b-etagi { background:url('/images/etagy.png') center center no-repeat; padding:0 3em; background-size:contain; }

.b-order { }
.b-order .e-tit {font-size:1.2em;  margin-bottom:0.5em; }
.b-order .e-val { margin-bottom:1em; }

.b-order .e-field,.b-form .e-field  { width:100%; max-width:25em; padding:0.7em;  background-color:#FFF; border:1px solid #c6c6c6; }
.b-order .b-but, .b-form .b-but { font-size:1em; }

.b-order .b-table_std  tbody td { cursor:pointer; }
.b-order .b-table_std  tbody tr:hover td { background-color:#c8c8c8; }


.b-plans { }
.b-plans .e-row { display:block; float:left; width:17%; height:12em; padding:0 3% 0 0; margin-bottom:3em; text-align:center; color:inherit; text-decoration:none; cursor:pointer; }
.b-plans .e-row:nth-child(5n) {  padding-right:0; }
.b-plans .e-row img { max-width:100%; }
.b-plans .e-row .e-zoom { font-size:0.8em; }
.b-plans .e-price {  font-size:0.85em; }

.b-fotos { margin-bottom:2em;  }
.b-fotos .e-row { display:block; width:31%; min-height:12em; float:left; margin-left:3%; margin-bottom:3%; text-align:center; background-repeat: no-repeat; background-position: left center; }
.b-fotos .e-row:nth-child(3n-2) { margin-left:0; }
.b-fotos .e-row img { max-width:100%; max-height:100%; border:1px solid #eba632; }
.b-fotos:after {
	content:'';
	display:block;
	clear:both;
}

.b-privacy { font-size:0.8em; padding:1em 0; }

.b-docs img { max-width:100%; }

.b-hotOffer { padding-bottom:2em; }
.b-hotOffer .e-item {
	float:left;
	width:23%;
	max-width:17em;
	margin:0 1% 0 1%;
	text-align:center;
} 
.b-hotOffer .e-item .e-name { padding-bottom:0.6em; }
.b-hotOffer .e-item .e-price { font-size:1.3em; padding:0.5em 0; }
.b-hotOffer .e-item .e-plan img { max-height:12em; max-width:100%; }