{% if app.user %}
    <form action="{{ path('logout') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}"/>
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    {#
{% else %}
    <a href="{{ url('login') }}">Login</a>
    <a href="{{ url('restore') }}">Forgot password</a>
    #}
{% endif %}
