{% extends 'base.html.twig' %}

{% block h1 %}
    <h1>Регистрация</h1>
{% endblock %}

{% block main %}

    <div class="b-form" >
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}